
@import '../../node_modules/carbon-components/scss/globals/scss/styles.scss';

html, body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #1133ff;
}

.content {
  height: 85vh;
  max-height: 85vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1vh 0;
}

[class*='cute'] {
  padding: 1vh 1vw;
}

.footer {
  height: 8vh;
  padding: 1vh 0;
  text-align: center;
}

.header {
  /* background: linear-gradient(135deg, $brand-01 1%, $brand-01 50%, $brand-02 80%); */
  background-color: $brand-01;
  min-height: 7vh;
  text-align: left;

  .bx--type-beta {
    font-size: 22px;
    margin-top: 2.5vh;
  }

  a {
    &.rectangle-2 {
      background-color: transparent;
      border: 1px solid $ui-01;
      border-radius: 8px;
      color: $ui-01;
      display: inline-block;
      height: 30px;
      margin-right: 5px;
      margin-top: 6px;
      min-width: 125px;
      padding: 8px 18px 6px 18px;
      text-align: center;
      text-decoration: none;
      transition: 500ms all cubic-bezier();

      &:hover {
        background-color: $ui-01;
        color: $brand-01;
      }
    }
  }

  div:last-child {
    padding-left: 10px;
    padding-right: 14px;
  }
}

.logo {
  padding-top: 1.5vh;

  img {
    height: 9vh;
    width: auto;
  }
}

/* Changes to Carbon */
.bx{
  &--about__icon {
    min-height: 50px;
    min-width: 50px;
  }

  &--about__title{
    &--additional-info {
      display: block;
    }

    &--name {
      overflow-x: inherit;
    }
  }

  &--card {
    height: 19rem;
    margin-top: 10px;
    width: inherit;
  }

  &--type-beta {
    color: $ui-01;
  }
}
